* {
  box-sizing: border-box;
  /* border: 2px solid red; */
}

body{
    margin: 0;
    padding: 0;
    background-image: url("./assets/image.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header{
    display:  flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul{
    display: flex;
    gap : 2em;
    list-style: none;
    margin-right: 20px;
}

nav li{
    font-size: 1.5rem;
    color: white;
    font-family: "Quicksand";
    border: none;
}

nav li:hover{
    border-bottom: 1px solid white;
}


footer{
    background: rgb(0, 0, 0,0.7);
    font-family: "Quicksand";
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;

    margin-top: auto;
}

#container {

    display: flex;
    justify-content: center;
    align-items: center;
    color : white;
    padding: 20px;
    gap:20px;
    flex-direction: column;
}

#title{
    padding-top: 0.7em;
    font-family: "Lobster",sans-serif;
    font-size: 6rem;
    text-align: center;
}

#description{
    font-size: 1rem;
    font-family: "QuickSand",sans-serif;
    text-align: center;
    font-weight: 500;
}

#logo{
    width: 80px;
}

#about-section,#story-section,#menu-section {
    position: relative;
    font-size: 1.2em;
    padding: 20px;
    color: #333;
    color : black;
    width: 90vw;

}

#story-section{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

#story-div{
  flex:  1 1 25%;
}

#story-image{
  width: 22rem;
  height: 25rem;
}

@media (max-width: 600px){
  #story-image{
    width: 100%;
    height: 100%;
  }
  #story-section{
    text-align:left;
  }


}

#about-section::before , #story-section::before,#menu-section::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255,255,0.8);
    /* background: brown; */
    z-index: -1;
}

 #menu-section::before {
  background:  rgba(51, 26, 1, 0.8);
  /* background-color: brown; */
 
} 


#menu-section{
  color: white;
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}

#about-section-heading , #story-section-heading , .menu-header {
    font-family: "Montserrat",monospace;
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}


#about-para,#story-para{
    font-family: "QuickSand",sans-serif;
    line-height: 1.6;

}

.menu-header{
  font-family: "Playfair Display",sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

.items-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  padding: 10px;
  gap:30px;
  margin-bottom: 60px;
  /* border-bottom: 4px solid white; */

}

.item{
  flex: 1 1 0.3;
}

.item-image{
  width: 20rem;
  height: 240px;
}

.menu-item-info{
  text-align: center;
  font-family: "Roboto Mono",monospace;
  margin-top: 5px;
  border-bottom: 4px solid white;
}
